<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DD_MANDATE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoFileUploadServlet</display-name>
    <servlet-name>demo</servlet-name>
    <servlet-class>com.ddmandate.controller.DemoFileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>GetUtilityController</display-name>
    <servlet-name>GetUtilityController</servlet-name>
    <servlet-class>com.ddmandate.controller.GetUtilityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUtilityController</servlet-name>
    <url-pattern>/GetUtilityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>SponsorMandateController</display-name>
    <servlet-name>SponsorMandateController</servlet-name>
    <servlet-class>com.ddmandate.controller.SponsorMandateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SponsorMandateController</servlet-name>
    <url-pattern>/SponsorMandateController</url-pattern>
  </servlet-mapping>
  <!-- Ganesh Added on 27122022 -->
  <description></description>
    <servlet>
    <description></description>
    <display-name>ImageFileUploadServlet</display-name>
    <servlet-name>ImageFileUploadServlet</servlet-name>
    <servlet-class>com.ddmandate.controller.ImageFileUploadServlet</servlet-class>
  </servlet>   
    
  <servlet-mapping>
    <servlet-name>ImageFileUploadServlet</servlet-name>
    <url-pattern>/ImageFileUploadServlet</url-pattern>
  </servlet-mapping> 
  
  <!-- Ganesh Added on 29122022 -->
   <servlet>
    <description></description>
    <display-name>CancelBulkUploadController</display-name>
    <servlet-name>CancelBulkUploadController</servlet-name>
    <servlet-class>com.ddmandate.controller.CancelBulkUploadController</servlet-class>
  </servlet>   
    
  <servlet-mapping>
    <servlet-name>CancelBulkUploadController</servlet-name>
    <url-pattern>/CancelBulkUploadController</url-pattern>
  </servlet-mapping>
  
</web-app>